# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Release artifacts
*.exe
*.apk
*.aab
*.zip
